<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/
>

  <center>
  <h1>記帳簿</h1>
  <form method="POST" action="{{url_for('submit')}}">

  <table>
    <tr>
    <td>
      <select name = 'inout'>
      <option>支出</option>
      <option>收入</option>
    </select>
    <select name = 'who'>
      <option>瑜</option>
      <option>昌</option>
    </select>
  </td>

</tr>
  
<tr>
  <td>  
  <label>日期 : </label>
    <input type = 'text' name="date">
  </td>
</tr>

<tr>

  <td>  
    <label>類別 : </label>
    <input type = 'text' name="type">
  </td>
</tr>
<tr>
  <td>  
    <label>錢錢 :</label>
    <input type = 'text' name="money">
  </td>
</tr>

<tr>
  <td>
    <label>備註 :</label>
    <textarea name="descript"
          rows="3"
          cols="40"
          required> </textarea>
    </td>
</tr>
<tr>
  <td><button type="submit" class="btn btn-primary">Submit</button></td>
</tr>
</table>
</center>
</form>
<!-- </html> -->
  <!-- <script >
    function submit(){
      var data={
        'inout': document.getElementById("inout").options[ document.getElementById("inout").selectedIndex].text,
        'data' : document.getElementById("data").innerText,
        'money': document.getElementById("money").innerText,
        'descript' :document.getElementById("descript").innerText
      }

    
    }
  </script> -->

</meta>
